<div class="home-container">
  <h1>Loja GEEK</h1>
  <div class="button-grid">
    <div class="card" (click)="redirect('/products')">
      <span>📦</span>
      <p>Cadastro Produto</p>
    </div>
    <div class="card" (click)="redirect('/users')">
      <span>👤</span>
      <p>Cadastro Cliente</p>
    </div>
    <div class="card" (click)="redirect('/create-sale')">
      <span>📝</span>
      <p>Cadastro Venda</p>
    </div>
    <div class="card" (click)="redirect('/stock')">
      <span>📊</span>
      <p>Estoque</p>
    </div>
    <div class="card" (click)="redirect('/sales')">
      <span>💰</span>
      <p>Vendas</p>
    </div>
  </div>
</div>
